<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create bank</title>
    <script th:inline="JavaScript">

        function add() {
            const clientsElements = document.getElementById('clients_hidden');

            const clients = [];

            for (let child of clientsElements.children) {
                clients.push({id: child.getAttribute('abbr'), name: child.textContent})
            }

            console.log(clients);

            var nodet = document.createElement('tr');
            var node = document.createElement('td');


            const select = document.createElement('select');
            select.id = 'client';
            select.name = 'clients';

            for (let client of clients) {
                const option = document.createElement('option');
                option.value = client.id;
                option.textContent = client.name;
                select.add(option)
            }

            node.innerHTML = select.outerHTML;

            document.getElementById('bank').appendChild(nodet);
            nodet.appendChild(node);

        }
    </script>
</head>
<body>
<div style="display: none" id="clients_hidden">
    <span th:each="el:${clients}" th:text="${el.getName()}" data-th-abbr="${el.getId()}"></span>
</div>
<form action="#" th:action="@{/bank/create}" th:object="${bank}" method="post">
    <table >
        <tr>
            <td><label for="Name">Name</label></td>
            <td><input type="text" th:field="*{name}" id="Name" placeholder="Name"></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>

        <tr><td><label th:for="client">Client</label></td>
            <td id="bank"><select th:name="clients" th:id="client" th:field="*{clients}" >
                <option th:text='client' th:value='null'></option>
                <option th:each='el:${clients}' th:value='${el.getId()}' th:text='${el.getName}'></option>
            </select><input type='button' value='Add client' onClick='add();'></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create bank"></td>
        </tr>
    </table>
</form>
</body>
</html>