<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Create client</title>
        <script th:inline="JavaScript">

            function add() {
                const clientsElements = document.getElementById('banks_hidden');

                const clients = [];

                for (let child of clientsElements.children) {
                    clients.push({id: child.getAttribute('abbr'), name: child.textContent})
                }

                console.log(clients);

                var nodet = document.createElement('tr');
                var node = document.createElement('td');


                const select = document.createElement('select');
                select.id = 'banks';
                select.name = 'banks';

                for (let client of clients) {
                    const option = document.createElement('option');
                    option.value = client.id;
                    option.textContent = client.name;
                    select.add(option)
                }

                node.innerHTML = select.outerHTML;

                document.getElementById('bank').appendChild(nodet);
                nodet.appendChild(node);

            }
        </script>
    </head>
    <body>
    <div style="display: none" id="banks_hidden">
        <span th:each="el:${banks}" th:text="${el.getName()}" data-th-abbr="${el.getId()}"></span>
    </div>
<form action="#" th:action="@{/client/create}" th:object="${client}" method="post">
    <table>
        <tr><td><label for="Name">Name</label></td>
    <td><input  type="text" th:field="*{name}" id="Name" placeholder="Name"></td>
            <td  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td></tr>
        <tr><td><label for="numberPhone">Number phone</label></td>
            <td><input type="text" th:field="*{numberPhone}" id="numberPhone" placeholder="Number phone"></td>
    <td  th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}">Number phone Error</td></tr>
        <tr><td><label for="email">Email</label></td>
           <td><input type="text" th:field="*{email}" id="email" placeholder="email"></td>
            <td  th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td></tr></tr>
        <tr><td><label for="passportNumber">Passport number</label></td>
            <td><input type="text" th:field="*{passportNumber}" id="passportNumber" placeholder="Passport number"></td>
            <td  th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}">Passport number Error</td></tr></tr>
            <tr><td><label for="bank">Bank</label></td>
                <td id="bank"><select th:name="banks" th:id = "banks" th:field="*{banks}" >
                    <option th:text="bank" th:value="null"></option>
                    <option  th:each="el:${banks}" th:value="${el.getId()}" th:text="${el.getName}"></option>
                </select><input type='button' value='Add client' onClick='add();'></td></tr>
        <tr><td><input type="submit" value="Create client"></td></tr>
    </table>

</form>
</body>
</html>